@use '../fonts';
@use '../variables';

.nav {
  @media screen and (max-width: 1023px) {
    display: none;
    height: 0;
  }
  &.open {
    @media screen and (max-width: 1023px) {
      display: block;
      z-index: 2;
    }
  }

  @media screen and (min-width: 1024px) {
    display: none;
    position: relative;
  }

  &__social-mob-active.open {
    display: block;
    @media screen and (max-width: 1023px) {
    }
  }

  @media screen and (max-width: 1023px) {
    position: absolute;
    top: 70px;
    width: 390px;
    height: 530px;
    background-color: variables.$whiteText;
    padding-left: 24px;
    margin-left: -25px;
  }
  @media screen and (min-width: 1024px) {
    display: flex;
    align-items: center;
  }
  &__list {
    list-style: none;
    @media screen and (min-width: 320px) {
      display: none;
    }

    & > li {
      @media screen and (max-width: 1024px) {
        margin-bottom: 28px;
      }
    }

    & > li:first-of-type {
      margin-bottom: 0;
      @media screen and (min-width: 1024px) {
        display: flex;
        flex-direction: row;
        background-repeat: no-repeat;
      }
    }

    &-mob-active a {
      @media screen and (max-width: 1023px) {
        font-size: 30px;
        line-height: 30px;
        text-decoration: none;
        color: variables.$blueText;
        padding-top: 10px;
      }
    }
    @media screen and (max-width: 1023px) {
      &-mob-active {
        display: block;
        width: 375px;
        height: 520px;
        background: #ffffff;
      }
    }
    @media screen and (min-width: 1024px) {
      display: flex;
      flex-direction: row;
      gap: 52px;
      margin-right: 175px;
    }
  }

  &__select-list {
    @media screen and (max-width: 1023px) {
      display: none;
    }

    &__list-item {
      @media screen and (min-width: 320px) {
        display: block;
      }
    }
    @media screen and (min-width: 1024px) {
      display: flex;
      color: variables.$blueText;
      position: relative;
    }

    &--link {
      @media screen and (min-width: 1024px) {
        text-decoration: none;
        color: variables.$blueText;
      }
    }
  }

  &__social-list {
    @media screen and (max-width: 1023px) {
      display: none;
      position: absolute;
      display: flex;
      bottom: 0;
    }

    @media screen and (min-width: 1024px) {
      display: flex;
      align-items: center;
    }
  }

  &__select-item {
    @media screen and (max-width: 1023px) {
      margin-bottom: 10px;
    }
  }

  &__mobile {
    & a {
      text-decoration: none;
      font-size: 14px;
      line-height: 24px;
    }
    @media screen and (min-width: 1024px) {
      display: none;
    }

    @media screen and (max-width: 1023px) {
      @include fonts.golosFont;
      font-size: 12px;
      line-height: 24px;
      position: absolute;
      bottom: 90px;
      width: 327px;
      height: 48px;
    }
  }
  &__list-item--link {
    text-decoration: none;
    color: variables.$blueText;
  }
  &__list-item--select {
    @media screen and (max-width: 1023px) {
      display: none;
    }
  }
}
