@use '../fonts';
@use '../variables';

.page-header {
  display: flex;
  width: 375px;
  justify-content: space-between;
  padding: 24px;
  align-items: center;
  padding-top: 18px;
  z-index: 6;
  background-color: #ffffff;

  @media screen and (min-width: 1024px) {
    width: 1280px;
    @include fonts.golosFont;
    font-size: 16px;
    line-height: 140%;
    padding: 0;
    justify-content: space-between;
    margin: 0 auto;
    height: 76px;
    background-color: #e5e5e5;
  }

  &__btn {
    border: none;
    color: variables.$blueText;
    background-color: variables.$whiteText;
    padding-left: 110px;
    @include fonts.golosFont;
    background-color: #ffffff;

    @media screen and (min-width: 1024px) {
      padding: 0;
      background-color: #e5e5e5;
      text-decoration: underline;
    }
  }
}
